@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-40%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
