@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-40%);
  }
}

.animate-marquee {
  animation: marquee 35s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@layer utilities {
  .perspective-\[1000px\] {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .translate-z-24 {
    transform: translateZ(96px);
  }
  .-translate-z-24 {
    transform: translateZ(-96px);
  }
  .rotate-y-90 {
    transform: rotateY(90deg);
  }
  .-rotate-y-90 {
    transform: rotateY(-90deg);
  }
}